.movie-scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 16px;
  scroll-behavior: smooth;
}

.movie-card {
  min-width: 200px;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  text-align: center;
  padding: 8px;
}

.movie-card img {
  width: 100%;
  border-radius: 4px;
}

.serie-scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 16px;
  scroll-behavior: smooth;
}

.serie-card {
  max-width: 200px;
  max-height: 500px;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
  text-align: center;
  padding: 8px;
}

.carousel-item {
  height: 450px;
}

.carousel-img {
  height: 100%;
  width: 100%;
  object-fit: unset;
  background-color: #000;
}
